# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
.next/
out/
build/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Uploads locais (dev)
uploads/
storage/

# Test
coverage/
